<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asquare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.INTERNET" /> 
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.login.LoginActivity" 
            	android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.asquare.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" >
        </activity>
        <activity
            android:name="com.example.gpa_calculator.GPAMainActivity"
            android:label="GPA Calculator"
            android:screenOrientation="unspecified" >
        </activity>
        <activity
            android:name="com.example.study_path.Study_Path"
            android:label="Study Path"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.example.study_path.data" >
        </activity>
        <activity
            android:name="com.example.study_path.Advanced_Activity"
            android:label="Advanced Path"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.study_path.Advanced_Activity2"
            android:label="Advanced Path"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.study_path.Advanced_Activity_choose"
            android:label="Advanced Path"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.exam_count_down.Exam_countdown"
            android:label="Exam Count Down"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="com.example.exam_count_down.MyBroadcastReceiver" >
        </receiver>

        <activity android:name="com.example.gpa_calculator.GPAactivity2" >
        </activity>
        <activity android:name="com.example.gpa_calculator.GPAactivity3" >
        </activity>
        <activity android:name="com.example.gpa_calculator.print_course_record" >
        </activity>
        <activity android:name="com.example.chatroom.MainChat" >
        </activity>
        <activity android:name="com.example.chatroom.ChatHelpActivity"></activity>
        <activity android:name="com.example.chatroom.ChatroomActivity"></activity>
        <activity android:name="com.example.chatroom.MentorMain"></activity>
        <activity android:name="com.example.gpa_calculator.add_course_record"></activity>
        <activity android:name="com.example.gpa_calculator.advice1"></activity>
        <activity android:name="com.example.gpa_calculator.advice2"></activity>
        <activity android:name="com.example.gpa_calculator.MainActivity"></activity>
        <activity android:name="com.example.gpa_calculator.printTGA"></activity>
        <activity android:name="com.example.gpa_calculator.Student"></activity>
        <activity android:name="com.example.advising.advising_MainActivity"></activity>
        <activity android:name="com.example.advising.otherActivity1"></activity>
        <activity android:name="com.example.advising.otherActivity2"></activity>
        <activity android:name="com.example.advising.ustTeamActivity"></activity>
        <activity android:name="com.example.manual.ManualMainActivity"></activity>
        <activity android:name="com.example.schedule.CalendarView"></activity>
        
    </application>

</manifest>
