<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asquare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.asquare.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.asquare.GPA_Calculator"
            android:label="GPA Calculator"
            android:screenOrientation="unspecified" >
        </activity>
        <activity
            android:name="com.example.study_path.Study_Path"
            android:label="Study Path"
            android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.study_path.data" >
        </activity>
        <activity android:name="com.example.study_path.Advanced_Activity" android:label="Advanced Path" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.study_path.Advanced_Activity2" android:label="Advanced Path" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.study_path.Advanced_Activity_choose" android:label="Advanced Path" android:screenOrientation="portrait"></activity>
        <activity android:screenOrientation="portrait" android:label="Exam Count Down" android:name="com.example.exam_count_down.Exam_countdown"></activity>
    </application>

</manifest>
